/.idea/.gitignore
/.idea/sonarlint/issuestore/7/e/7e16691a9fc60084a157565ec422c8094d3df67c
/.idea/sonarlint/securityhotspotstore/7/e/7e16691a9fc60084a157565ec422c8094d3df67c
/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/issuestore/3/7/37083060967a471c011a16651e22bdc2ade41759
/.idea/sonarlint/securityhotspotstore/3/7/37083060967a471c011a16651e22bdc2ade41759
/.idea/sonarlint/issuestore/b/3/b3cec7597a1642acb78a85b8cc8b64586afe00fc
/.idea/sonarlint/securityhotspotstore/b/3/b3cec7597a1642acb78a85b8cc8b64586afe00fc
/.idea/compiler.xml
/.idea/dataSources.xml
/.idea/sonarlint/issuestore/e/9/e9829d1e6669e3c4e3983729a4fb9ef08fad6d51
/.idea/sonarlint/securityhotspotstore/e/9/e9829d1e6669e3c4e3983729a4fb9ef08fad6d51
/.idea/encodings.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sqldialects.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/wns-javaangular-2302-devadore.iml
