/.idea/sonarlint/issuestore/2/2/22a01af5c6c77e59c11f13ae9d93ec571fac7f5d
/.idea/sonarlint/securityhotspotstore/2/2/22a01af5c6c77e59c11f13ae9d93ec571fac7f5d
/.idea/sonarlint/issuestore/a/1/a1847328db0c4749c996db2576216f11f46a4261
/.idea/sonarlint/securityhotspotstore/a/1/a1847328db0c4749c996db2576216f11f46a4261
/.idea/sonarlint/issuestore/c/a/ca06fb6591fbdbffc53227608e0ae1f048f2f22e
/.idea/sonarlint/securityhotspotstore/c/a/ca06fb6591fbdbffc53227608e0ae1f048f2f22e
/client.iml
/.idea/compiler.xml
/.idea/dataSources.xml
/.idea/encodings.xml
/client/.vscode/extensions.json
/client/src/favicon.ico
/client/src/index.html
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/jarRepositories.xml
/client/.vscode/launch.json
/server/.mvn/wrapper/maven-wrapper.jar
/server/.mvn/wrapper/maven-wrapper.properties
/.idea/misc.xml
/.idea/modules.xml
/server/mvnw
/server/mvnw.cmd
/client/package.json
/client/package-lock.json
/.idea/inspectionProfiles/Project_Default.xml
/.idea/quizzforall.iml
/.idea/sqldialects.xml
/client/.vscode/tasks.json
/.idea/uiDesigner.xml
/.idea/vcs.xml
