<div class="user-list bg-black rounded-lg shadow-lg p-8 flex flex-col items-center h-full">
  <app-toast
    *ngIf="showToast"
    [message]="toastMessage"
    (onConfirm)="onToastConfirm()"
    (onCancel)="onToastCancel()"
  ></app-toast>
  <div class="opacity-75 hover:opacity-100">
    <div class="mx-auto flex flex-col items-center justify-center px-6 py-10 ">
      <app-logo [textColor]="'yellow'"></app-logo>
    </div>
    <mat-form-field>
      <mat-label>Recherche</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. momo" #input/>
    </mat-form-field>


    <table mat-table [dataSource]="dataSource" matSort class="mx-auto w-1/2 ">
      <caption class="text-lg font-bold bg-yellow-300 p-2 rounded-t">
        Liste des utilisateurs : {{countUser()}}
      </caption>
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef>Avatar
        </th>
        <td mat-cell *matCellDef="let user">
          <img class="rounded-full shadow h-12 w-12 m-auto"
               *ngIf="user.image"
               [src]="'data:' + user.mimeType + ';base64,' + user.image"
               alt="Avatar"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let user">{{ user.id }}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>UserName</th>
        <td mat-cell *matCellDef="let user">{{ user.username }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>

      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef>Rôle</th>
        <td mat-cell *matCellDef="let user">
          <ul>
            <li *ngFor="let role of user.roles">{{ role.name }}</li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let user">
          <button
            class="bg-transparent text-gray-200 px-2 py-1 mr-2 rounded border-2 border-gray-900"
            (click)="editUser(user.id)"
            title="Editer le profile">✏️
          </button>
          <button
            class="bg-transparent text-gray-200 px-2 py-1 rounded border-2 border-gray-900"
            (click)="onDeleteUser(user.id)"
            title="Supprimer le profile">❌
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Créer le</th>
        <td mat-cell *matCellDef="let user">{{ user.createdAt | date }}</td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mis à jour le</th>
        <td mat-cell *matCellDef="let user">{{ user.updatedAt | date }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-amber-50" colspan="4">Aucune donnée ne correspond au filtre: "{{input.value}}
          "
        </td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
