<div
  class="m-auto flex h-screen flex-col place-items-center justify-center gap-3"
>
  <div
    class="flex flex-col items-center overflow-hidden rounded-lg border border-white bg-gray-900 p-12 text-white shadow-lg"
    *ngIf="randomQuiz"
  >
    <div class="flex w-96 flex-col items-center px-6 py-4">
      <div class="mb-2 p-5 font-lilita text-4xl font-bold">
        {{ randomQuiz.title }}
      </div>
      <img
        class="m-auto h-20 w-20 shadow"
        *ngIf="randomQuiz.image"
        [src]="'data:' + randomQuiz.mimeType + ';base64,' + randomQuiz.image"
        alt="Image du Quiz"
      />
      <p class="p-5 text-center font-lexend text-lg">
        {{ randomQuiz.description }}
      </p>
    </div>
    <div>
      <div class="p-6">
        <button
          class="rounded-full bg-gradient-to-r from-purple-500 to-pink-500 px-4 py-2 font-lexend font-bold text-white hover:from-purple-600 hover:to-pink-600 focus:border-blue-300 focus:outline-none focus:ring"
          [routerLink]="['/quiz/play', quizId]"
        >
          Lancer le Quiz !
        </button>
      </div>
      <div
        class="flex cursor-pointer justify-center gap-1 text-center text-xs"
        (click)="getRandomQuiz()"
      >
        <span class="reload-icon">&#x21BB;</span>
        <div>Changer de quiz</div>
      </div>
    </div>
  </div>
  <div class="flex content-start">
    <button
      class="rounded-lg border-b-4 border-gray-500 bg-white px-5 py-1 font-lexend"
      [routerLink]="['/']"
    >
      Retour
    </button>
  </div>
</div>
