
<form [formGroup]="registerForm" (ngSubmit)="registerUser()" enctype="multipart/form-data">
  <div>
    <label>Username</label>
    <input type="text" formControlName="username">
  </div>
  <div>
    <label>Password</label>
    <input type="password" formControlName="password">
  </div>
  <div>
    <label>Email</label>
    <input type="email" formControlName="email">
  </div>
  <div>
    <label>Image</label>
    <input type="file" (change)="onImageSelected($event)">
  </div>
  <img *ngIf="previewUrl" [src]="previewUrl" alt="Image preview" width="200">

  <button type="submit">Register</button>
</form>

