<div class="mx-auto flex flex-col items-center justify-center px-6 py-10 bg-gray-700">
  <app-logo [textColor]="'orange'"></app-logo>
</div>
<div class="flex justify-center bg-gray-900 items-center h-screen ">
  <div class="flex justify-center items-center gap-4 m-2">

    <mat-card class="w-1/3">
      <mat-card-header>
        <img class="h-16 w-16 object-cover"
             src="/assets/images/defaultAvatars/totoro.gif"
             alt="Logo mz"
             mat-card-avatar/>
        <mat-card-title>ZEDMED</mat-card-title>
        <mat-card-subtitle>
          Participe au projet Quizz4All
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="object-cover max-h-96"
           src="/assets/images/defaultAvatars/Alien.png" alt="Dev med">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </mat-card-content>

    </mat-card>


    <mat-card class="w-1/3">
      <mat-card-header>
        <img class="h-16 w-16 object-cover"
             src="/assets/images/defaultAvatars/Quiz4All.png"
             alt="Logo ac"
             mat-card-avatar/>
        <mat-card-title>Axel</mat-card-title>
        <mat-card-subtitle>
          Participe au projet Quizz4All
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="object-cover max-h-96"
           src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Dev1 Logo">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="w-1/3">
      <mat-card-header>
        <img class="h-16 w-16 object-cover"
             src="/assets/images/defaultAvatars/Quiz4All.png"
             alt="Logo mb"
             mat-card-avatar/>
        <mat-card-title>Micka</mat-card-title>
        <mat-card-subtitle>
          Participe au projet Quizz4All
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="object-cover max-h-96"
           src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Dev2 Logo">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </mat-card-content>

    </mat-card>

  </div>
</div>
