<!--Liste des quizz du user-->
<app-toast
  *ngIf="showToast"
  [message]="toastMessage"
  [type]="toastType"
  [canShowButton]="canShowButton"
  (onConfirm)="onToastConfirmed()"
  (onCancel)="showToast=false"
  (close)="showToast=false">
</app-toast>
<div
  class="h-full bg-cover bg-center text-white"
  style="
    background-image: url(/assets/images/defaultAvatars/wizard.png);
  "
>
  <div class="mx-auto flex flex-col items-center justify-center px-6 py-10 ">
    <app-logo [textColor]="'orange'"></app-logo>
  </div>
  <div *ngIf="isUser" class="flex justify-center opacity-75 hover:opacity-100">

    <div class="flex flex-col w-1/2">

      <table mat-table [dataSource]="dataSource" matSort class="mx-auto w-3/4 ">
        <caption class="text-lg font-bold bg-yellow-300 text-black p-2 rounded-t">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
               class="w-8 h-8 float-right rounded-full border-4 border-amber-500" (click)="editUser(user.id)">
            <path fill-rule="evenodd"
                  d="M9.53 2.47a.75.75 0 010 1.06L4.81 8.25H15a6.75 6.75 0 010 13.5h-3a.75.75 0 010-1.5h3a5.25 5.25 0 100-10.5H4.81l4.72 4.72a.75.75 0 11-1.06 1.06l-6-6a.75.75 0 010-1.06l6-6a.75.75 0 011.06 0z"
                  clip-rule="evenodd"/>
          </svg>
          Liste des : {{ countQuizzes() }} quizzes de {{ user.username | uppercase }}
        </caption>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Catégorie</th>
          <td mat-cell *matCellDef="let quizzes">{{ quizzes.categoryName }}</td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Titre</th>
          <td mat-cell *matCellDef="let quizzes">{{ quizzes.title }}</td>
        </ng-container>
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Image
          </th>
          <td mat-cell *matCellDef="let quizzes">
            <img class="flex justify-center shadow h-12 w-12 "
                 *ngIf="quizzes.image"
                 [src]="'data:' + quizzes.mimeType + ';base64,' + quizzes.image"
                 alt="Image quiz"
            />
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let quizzes"
              class="max-w-[300px] overflow-auto">{{ quizzes.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>Créer le</th>
          <td mat-cell *matCellDef="let quizzes">{{ quizzes.createdAt | date }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let quizzes">
            <button (click)="onDeleteQuiz(quizzes.id)"
                    class="bg-transparent text-gray-200 px-2 py-1 rounded border-2 border-gray-900"
                    title="Supprimer le quiz">❌
            </button>
            <button (click)="editQuiz(quizzes.id)"
                    class="bg-transparent text-gray-200 px-2 py-1 rounded border-2 border-gray-900"
                    title="Editer le quiz">✏️
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of quizzes"></mat-paginator>
    </div>
  </div>
</div>
