<div
  class="bg-cover bg-center text-white"
  style="
    background-image: url(/assets/images/defaultAvatars/wizard.png);
  "
>
  <app-toast
    *ngIf="showToast"
    [message]="toastMessage"
    [type]="toastType"
    [canShowButton]="canShowButton"
    (onConfirm)="onToastConfirmed()"
    (onCancel)="showToast = false"
    (close)="showToast = false"
  >
  </app-toast>
  <div class="mx-auto flex flex-col items-center justify-center px-6 py-10">
    <app-logo [textColor]="'orange'"></app-logo>
  </div>

  <div class="flex items-center justify-center">
    <form
      [formGroup]="quizForm"
      (ngSubmit)="onSubmit()"
      enctype="multipart/form-data"
      class="mx-auto w-2/3 rounded border-2 border-yellow-500 bg-gray-900 p-8 text-gray-200 opacity-75 hover:opacity-100"
    >
      <h1 class="mb-6 text-center text-2xl font-bold">
        Modifie ton quiz "{{ user?.username | uppercase }}"
      </h1>
      <div class="flex justify-center">
        <div
          *ngIf="userImage"
          class="h-16 w-16 overflow-hidden rounded-full"
          (mouseover)="isHovered = true"
          (mouseout)="isHovered = false"
        >
          <!-- L'image de l'utilisateur -->
          <img
            *ngIf="!isHovered"
            [src]="userImage"
            alt="User Image"
            class="h-full w-full rounded-full border-4 border-amber-500"
            (click)="editUser(user?.id)"
          />
          <!-- L'icône SVG "retour arrière" lors du survol -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="h-full w-full rounded-full border-4 border-amber-500"
            (click)="editUser(user?.id)"
          >
            <path
              fill-rule="evenodd"
              d="M9.53 2.47a.75.75 0 010 1.06L4.81 8.25H15a6.75 6.75 0 010 13.5h-3a.75.75 0 010-1.5h3a5.25 5.25 0 100-10.5H4.81l4.72 4.72a.75.75 0 11-1.06 1.06l-6-6a.75.75 0 010-1.06l6-6a.75.75 0 011.06 0z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
      <div class="m-4" *ngIf="categories && categories.length > 0">

        <label for="category" class="mb-2 block">Category</label>
        <select
          id="category"
          formControlName="categoryId"
          class="w-1/4 rounded border-2 border-yellow-500 bg-gray-800 py-2"
        >
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>

        </select>
        <div
          *ngIf="
            quizForm.get('categoryId')?.touched &&
            !quizForm.get('categoryId')?.value
          "
          class="text-orange-600"
        >
          Veuillez sélectionner une catégorie.
        </div>
      </div>
      <div class="m-4">
        <label for="image" class="mb-2 block">Image</label>
        <div class="mb-4 flex">
          <div>
            <figcaption class="text-sm text-neutral-600 dark:text-neutral-400">
              Avant
            </figcaption>
            <img
              class="mt-4 flex h-24 w-24 items-center justify-center rounded border border-gray-300 bg-gray-100"
              *ngIf="imageQuiz"
              [src]="imageQuiz"
              alt="Image Quiz"
            />
          </div>

          <div class="mx-8"></div>

          <div>
            <figcaption class="text-sm text-neutral-600 dark:text-neutral-400">
              Après
            </figcaption>
            <img
              class="mt-4 flex h-24 w-24 items-center justify-center rounded border border-gray-300 bg-gray-100"
              *ngIf="previewUrl"
              [src]="previewUrl"
              alt="Image preview"
            />
          </div>
        </div>

        <div class="flex items-center">
          <label
            for="image"
            class="cursor-pointer rounded border bg-gray-500 px-2 py-2 text-sm text-white hover:bg-gray-600"
          >
            Sélectionnez une image
          </label>
          <span class="ml-3 text-sm" id="selectedFilename"
            >Aucune image sélectionnée</span
          >
          <input
            type="file"
            id="image"
            name="image"
            (change)="onImageSelected($event)"
            class="hidden"
          />
        </div>
      </div>
      <label class="m-2 block">Titre du quiz</label>
      <div class="mb-4">
        <input
          type="text"
          placeholder="Title"
          formControlName="title"
          class="w-1/2 rounded border-2 border-yellow-500 bg-gray-800 px-3 py-2"
        />
        <div *ngIf="!quizForm.get('title')?.value" class="text-orange-600">
          Veuillez saisir titre.
        </div>
      </div>
      <label class="m-2 block">Description du thème</label>
      <div class="mb-4">
        <textarea
          type="text"
          placeholder="Description"
          formControlName="description"
          class="w-full rounded border-2 border-yellow-500 bg-gray-800 px-3 py-2"
        ></textarea>
        <div
          *ngIf="!quizForm.get('description')?.value"
          class="text-orange-600"
        >
          Veuillez saisir une description.
        </div>
      </div>
      <div formArrayName="questions">
        <div
          *ngFor="let questionCtrl of questionsArray.controls; let i = index"
          [formGroupName]="i"
          class="mb-4"
        >
          <label class="m-2 block">Question -{{ i + 1 }}</label>
          <input
            type="text"
            placeholder="Texte de la question"
            formControlName="text"
            class="mb-3 w-3/4 rounded border-2 border-amber-700 bg-gray-800 px-3 py-2"
          />
          <button
            type="button"
            (click)="removeQuestion(i)"
            class="rounded border-2 border-gray-900 bg-transparent px-2 py-1 text-gray-200"
            title="Supprimer la question"
          >
            ❌
          </button>
          <div *ngIf="questionCtrl.hasError('noCorrectAnswer')">
            <p class="text-orange-600">
              La question doit comporter au moins une réponse correcte.
            </p>
          </div>
          <label class="m-2 block">Cocher la(les) bonne(s) réponse(s)</label>
          <div formArrayName="answers">
            <div
              *ngFor="
                let answerCtrl of getAnswersArray(questionCtrl);
                let j = index
              "
              [formGroupName]="j"
              class="mb-2 flex items-center"
            >
              <input
                type="text"
                placeholder="Texte de la réponse"
                formControlName="text"
                class="mb-3 w-3/4 rounded border-2 border-blue-700 bg-gray-800 px-3 py-2"
              />
              <input
                type="checkbox"
                formControlName="correct"
                class="m-6"
                title="Correct ?"
              />
              <button
                type="button"
                (click)="removeAnswer(i, j)"
                class="rounded border-2 border-gray-900 bg-transparent px-3 py-2 text-gray-200"
                title="Supprimer la réponse"
              >
                ❌
              </button>
            </div>
            <button
              type="button"
              (click)="addAnswer(i)"
              class="rounded bg-yellow-500 px-3 py-2 text-gray-900 hover:bg-blue-600"
            >
              Ajouter une autre réponse
            </button>
          </div>
        </div>
        <button
          type="button"
          (click)="addQuestion()"
          class="mb-4 rounded bg-yellow-500 px-3 py-2 text-gray-900 hover:bg-amber-600"
        >
          Ajouter une autre question
        </button>
      </div>

      <button
        type="submit"
        class="rounded border-2 border-gray-900 bg-yellow-500 px-4 py-2 text-gray-900 hover:bg-yellow-600"
      >
        Modifier votre quiz
      </button>
    </form>
  </div>
</div>
