<app-toast
  *ngIf="showToast"
  [message]="toastMessage"
  [type]="toastType"
  (close)="showToast = false"
></app-toast>
<div class="flex h-screen flex-col justify-between p-5 text-white sm:p-20">
  <div class="flex flex-row items-start justify-between">
    <img
      class="w-1/2 object-contain sm:w-52"
      src="assets/images/defaultAvatars/Quiz4All.png"
      alt="Logo"
    />
    <div
      class="dropdown-container flex w-1/2 flex-col items-end sm:flex-row-reverse sm:items-center"
    >
      <div *ngIf="isLoggedIn && userImage" class="h-16 w-16 rounded-full">
        <img
          [src]="userImage"
          alt="User Image"
          class="h-full w-full rounded-full border-4 border-amber-500"
          (mouseover)="showDropdown()"
          (mouseleave)="hideDropdown()"
        />
      </div>

      <fa-icon
        *ngIf="!isLoggedIn"
        class="fa-4x"
        [icon]="faCircleUser"
        (mouseover)="showDropdown()"
        (mouseleave)="hideDropdown()"
      >
      </fa-icon>

      <div
        #dropdownMenu
        class="dropdown-menu flex-col sm:flex-row sm:gap-1 sm:pr-2"
        [class.show]="isDropdownVisible"
        (mouseover)="showDropdown()"
        (mouseleave)="hideDropdown()"
      >
        <button
          class="mt-4 transform rounded-full border-2 border-white px-4 py-2 text-current transition-transform duration-200 hover:scale-105"
          [ngStyle]="{ color: isAuthenticated() ? 'red' : 'inherit' }"
          (click)="handleButtonClick()"
        >
          {{ isAuthenticated() ? "Logout" : "Login" }}
        </button>
        <br />

        <button
          *ngIf="isAdmin"
          class="transform rounded-full border-2 border-white px-4 py-2 text-current transition-transform duration-200 hover:scale-105 sm:mt-4"
          routerLink="/user-list"
        >
          Liste d'utilisateurs
        </button>
        <button
          *ngIf="isUser"
          class="transform rounded-full border-2 border-white px-4 py-2 text-current transition-transform duration-200 hover:scale-105 sm:mt-4"
          (click)="user && editUser(user.id)"
        >
          Profil
        </button>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-9">
    <div class="font-koulen text-4xl uppercase sm:text-5xl">
      Testez vos connaissances !
    </div>
    <div class="flex flex-col gap-2 place-self-start">
      <div
        class="relative"
        (mouseover)="showSubMenu()"
        (mouseleave)="hideSubMenu()"
      >
        <div class="font-lilita text-2xl sm:text-3xl">Quiz Solo</div>
        <div
          class="absolute left-0 top-full pl-3 pt-2"
          [class.hidden]="!isMenuHovered"
        >
          <div
            class="cursor-pointer font-lexend"
            [routerLink]="'/quiz/preview'"
          >
            Aléatoire
          </div>
          <div
            class="cursor-pointer font-lexend"
            [routerLink]="'/quiz/choose-cat'"
          >
            Par thème
          </div>
        </div>
      </div>
      <div
        class="font-lilita text-2xl transition-transform sm:text-3xl"
        [ngClass]="{ 'translate-y-14': isMenuHovered }"
      >
        Multijoueur <span class="text-sm">(à venir)</span>
      </div>
    </div>
  </div>

  <div class="flex justify-between">
    <div class="text-xs sm:text-sm">&#169; 2023 Quiz4All - DEVADORE</div>
    <div>
      <ul class="flex gap-12 text-xs font-bold">
        <li class="text-xs sm:text-sm"><a routerLink="/contact">Crédit</a></li>
        <li class="text-xs sm:text-sm">
          <a routerLink="/mention-legal">Mentions légales</a>
        </li>
      </ul>
    </div>
  </div>
</div>
