:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Cela permet de positionner le toast par rapport à la fenêtre de la vue */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000; /* Assurez-vous qu'il est au-dessus des autres éléments */
  background-color: rgba(0, 0, 0, 0.3); /* Arrière-plan semi-transparent pour l'effet modal */
}

.toast {
  /* Vous pouvez définir une largeur et une hauteur maximales pour le toast ici, si nécessaire */
  max-width: 80%; /* par exemple */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
