<!-- toast.component.html -->
<div class="toast flex items-center justify-between p-3 rounded-lg shadow-lg" [ngClass]="{
      'bg-blue-500': type === 'confirm',
      'bg-green-500': type === 'success',
      'bg-red-500': type === 'error',
      'bg-orange-500': type === 'warning'
    }">
  <span class="text-white">{{ message }}</span>
  <div *ngIf="type === 'confirm'" class="ml-4">
    <button (click)="confirm()" class="bg-white text-blue-500 hover:text-blue-700 px-2 py-1 rounded mr-2">
      Confirm
    </button>
    <button (click)="cancel()" class="bg-white text-red-500 hover:text-red-700 px-2 py-1 rounded">
      Cancel
    </button>
  </div>
</div>


