<app-toast *ngIf="showToast" [message]="toastMessage" [type]="toastType" (close)="showToast = false"></app-toast>
<div class="flex items-center justify-center">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto ">
    <app-logo [textColor]="'orange'"></app-logo>
    <form class="w-full max-w-md bg-white rounded-lg shadow" [formGroup]="resetPasswordForm"
          (ngSubmit)="resetPassword()">
      <div class="p-6 space-y-4">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900">
          Réinitialisez votre mot de passe
        </h1>
        <div class="space-y-4">
          <div>
            <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900">Nouveau mot de passe</label>
            <input type="password" id="newPassword" formControlName="newPassword"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                   placeholder="Nouveau mot de passe" required>
          </div>
          <div class="text-red-500 text-sm mt-1"
               *ngIf="resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.dirty || resetPasswordForm.get('newPassword')?.touched)">
            <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">Le mot de passe est requis</div>
            <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['invalidPassword']">Le mot de passe doit
              contenir:
              <ul>
                <li *ngIf="!newPasswordErrors.hasUppercase">Au moins une majuscule</li>
                <li *ngIf="!newPasswordErrors.hasLowercase">Au moins une minuscule</li>
                <li *ngIf="!newPasswordErrors.hasSpecialChar">Au moins un caractère spécial</li>
                <li *ngIf="!newPasswordErrors.hasNumber">Au moins un caractère numerique</li>
                <li *ngIf="!newPasswordErrors.isLongEnough">Au moins 8 caractères</li>
              </ul>
            </div>
          </div>
          <div>
            <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900">Confirmez le mot de
              passe</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                   placeholder="Confirmez le mot de passe" required>
          </div>
          <div *ngIf="resetPasswordForm.errors?.['passwordsDoNotMatch']">
            Les mots de passe ne correspondent pas.
          </div>
        </div>
        <button type="submit"
                class="w-full border-2 border-b-black text-current font-medium rounded-lg px-5 py-2.5 mt-4">
          Réinitialiser le mot de passe
        </button>
        <p class="text-sm font-light text-gray-500">
          Vous vous souvenez de votre mot de passe ? <a (click)="goToLoginPage()"
                                                        class="font-medium text-primary-600 hover:underline cursor-pointer">Connectez-vous
          ici</a>
        </p>
      </div>
    </form>
  </div>
</div>
