<div class="quiz-section">

    <div class="question">
      <h2>{{ question?.text }}</h2>
    </div>
  
    <ul class="answers">
      <li *ngFor="let answer of question?.answers"
          [class.correct-answer]="isAnswered && answer.isCorrect"
          [class.wrong-answer]="isAnswered && !answer.isCorrect && answer === selectedAnswer"
          (click)="!isAnswered && onAnswerSelected(answer)">
        {{ answer.text }}   
      </li>  

    </ul>
    <button *ngIf="isAnswered && excludeIds.length != 10" (click)="getNextQuestion()">Question suivante</button>

    <div *ngIf="isAnswered && excludeIds.length == 10" >
      <div>
        <button (click)="resetQuiz()">Recommencer</button>
      </div>
      <div>
        <button [routerLink]="'/'">Retour au menu</button>
      </div>
      <p>Score : {{ score }}/10</p>
    </div>
  </div>

  
  