.outer-container:hover .container {
    transform: translateX(0);
}

.blur-content::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(0px);
    transition: backdrop-filter 0.3s ease-in-out;
}

.outer-container:hover ~ .blur-content::before {
    backdrop-filter: blur(5px);
}
