<p>forgotPasswordForm</p>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="email" formControlName="email" id="email">
    <!--<div *ngIf="forgotPasswordForm.controls.email.invalid && (forgotPasswordForm.controls.email.dirty || forgotPasswordForm.controls.email.touched)">
      <p *ngIf="forgotPasswordForm.controls.email.errors.required">Email is required.</p>
      <p *ngIf="forgotPasswordForm.controls.email.errors.email">Invalid email.</p>
    </div>-->
  </div>
  <button type="submit">Submit</button>
</form>

<p *ngIf="errorMessage">{{ errorMessage }}</p>

